.resume-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.resume-header {
  text-align: center;
  color: blueviolet;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Foto redonda */
  object-fit: cover;
}

h1 {
  margin: 10px 0;
  font-size: 24px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
